@use 'common';

*{
    padding: 0;
    margin: 0;
}

#landing{    
    #section-one{
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    
        #banner{
            width: 100%;
            height: 30vh;
            background-color: common.$primary-color;
            margin: 70px 0
        }
    
        #intro{
            margin: 20px 0 30px 0;
            font-size: 1.8em;
        }
    
        button{            
            border: 1px solid common.$primary-color;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    
    #mobile-app{
        height: 960px;

        .two-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .two-content{
                margin: 100px 40px 0px 0px;
                h1{
                    font-size: common.$call-to-action;
                    margin-bottom: 20px;
                }
            }
        }
    
        #phone-list{
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            justify-content: right;
            
        }
        #phone{
            // height: 320px;
            // width: 190px;
            height: 580px;
            width: 300px;
            border-radius: 18px;
            border: 1px solid common.$primary-color;
            position: relative;
            margin: 0 .5em;
    
            #phone-top{
                background-color: white;
                position: absolute;
                width: 60%;
                height: 3%;
    
                right: 50%;
                top: 1.9%;
                transform: translate(50%, -50%);
                z-index: 1;
                border-radius: 5px;
            }
            
            #phone-bottom{
                background-color: common.$primary-color;
                width: 97.5%;
                height: 98.9%;
                border-radius: 18px;
    
                position: absolute;    
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);       
            }
        }
    }
    
    #schools-testimonials{
        height: 980px;
        display: flex;
    
        div:nth-child(1){
            margin-right: 2em;
        }
        div{
            flex: 1;
        }
    }
    
    .line{
        border-bottom: 3px solid common.$primary-color;
        margin: 10px 0px;
    }

    .table-header{
        font-size: common.$table-header;
    }    
}
