#landing{
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        a{
            text-decoration: none;
            color: grey;
        }
    
        #signup{
            padding: 0 1em;
            margin: 0 .5em;
            border-radius: 1em;
            border: 1px solid grey;
        }
    
        #login{
            background-color: black;
            color: white;
            padding: .2em 1em;
            margin: 0 .5em;
            border-radius: 1em;
    
            img{
                margin-left: .4em;
            }
        }
    }
    
    #landing-logo{
        flex: 2;
        text-align: center;
    
        img{
            height: 100px;
            width: 100px;
        }
    }
    
    .navs{
        flex: 2;
        img{
            max-width: 20px;
            max-height: 20px;
        }
    
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer{
        margin: 0 -3vw;
        background-color: grey;
        height: 8em;
        display: flex;
        align-items: center;
        padding: 0 20vw;
        position: relative;
    
        img{
            height: 1.5em;
            width: 1.5em;
        }
    
        #links{
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    
            color: white;
        }
        
        #trademark{
            position: absolute;
            bottom: 5%;
            right: 50%;
            transform: translate(50%, 0%);
            font-size: .8em;
        }
    
        
    }    
}
